---
import { themeConfig } from '~/.config'

const year = new Date().getFullYear()

const { website, author } = themeConfig.site
---

<p>
  © {year}
  <a target="_blank" href={website} rel="noopener noreferrer">{author}</a>
</p>
<p>
  Theme
  <a target="_blank" href="https://github.com/Moeyua/astro-theme-typography" rel="noopener noreferrer">Typography</a>
  by <a target="_blank" href="https://moeyua.com" rel="noopener noreferrer">Moeyua</a>
</p>
<p>
  Proudly published with
  <a target="_blank" href="https://astro.build" rel="noopener noreferrer">Astro</a>
</p>
<p>
  <span id="sitetime"></span></p>
<p>
  <span id="busuanzi_container_site_pv">Total Views<span id="busuanzi_value_site_pv">
</p>
<style>
  p {
    --at-apply: 'font-bold text-3';
  }
</style>
<script src="/js/busuanzi.pure.mini.js" is:inline></script>
<script>
  function siteTime(){
      window.setTimeout("siteTime()", 1000);
      var seconds = 1000;
      var minutes = seconds * 60;
      var hours = minutes * 60;
      var days = hours * 24;
      var years = days * 365;
      var today = new Date();
      var todayYear = today.getFullYear();
      var todayMonth = today.getMonth()+1;
      var todayDate = today.getDate();
      var todayHour = today.getHours();
      var todayMinute = today.getMinutes();
      var todaySecond = today.getSeconds();
      var t1 = Date.UTC(2024, 8, 1, 17, 46, 0);
      var t2 = Date.UTC(todayYear,todayMonth,todayDate,todayHour,todayMinute,todaySecond);
      var diff = t2-t1;
      var diffYears = Math.floor(diff/years);
      var diffDays = Math.floor((diff/days)-diffYears*365);
      var diffHours = Math.floor((diff-(diffYears*365+diffDays)*days)/hours);
      var diffMinutes = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours)/minutes);
      var diffSeconds = Math.floor((diff-(diffYears*365+diffDays)*days-diffHours*hours-diffMinutes*minutes)/seconds);
      document.getElementById("sitetime")!.innerHTML="Already run "+diffYears+" y "+diffDays+" d "+diffHours+" h "+diffMinutes+" m "+diffSeconds+" s";
  }
  siteTime();
</script>
